<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613855962541-v8ulqaargiqvu9ni8kb7mpajukg37pa1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613855962541-v8ulqaargiqvu9ni8kb7mpajukg37pa1</string>
	<key>API_KEY</key>
	<string>AIzaSyCLxo4mR45QO_agabU3wVZlqof2lBX9B3U</string>
	<key>GCM_SENDER_ID</key>
	<string>613855962541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suzun.read-list</string>
	<key>PROJECT_ID</key>
	<string>read-list-8726c</string>
	<key>STORAGE_BUCKET</key>
	<string>read-list-8726c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613855962541:ios:0489eac43ba257c162ad24</string>
</dict>
</plist>